*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
body,html{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
}
/*header*/
.header{
    background-color: #ffffff;
}
.header div{
    display: flex;
    flex-direction: inherit;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    margin: 1%;
}

.content div{
    display: flex;
    flex-direction: inherit;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    margin: 2%;
}
.p1{
    width: 50%;
}
.block1 {
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    text-align:left;
    margin-left: 4em;
    margin-top: 2%;
    margin-bottom: 2%;
}
.block1 span a img {
    display: block;
    float: left;
    width: 80%;
}
.block1 span a p{
    color: grey;
}
.block1 span a h1:hover{
    color: grey;
}
.content1{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    text-align:left;
    margin-left: 20%;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    text-align:center;

}
.footer{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    text-align:center;
}
